# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment secrets
.env
backend/.env
app/.env

# Flutter/Dart
app/build/
app/.dart_tool/
app/.flutter-plugin-dependencies

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea//app/android/local.properties
/app/ios/Flutter/Generated.xcconfig
/app/.idea
*.iml
*.log
/app/macos/Flutter/ephemeral/
/app/ios/Flutter/ephemeral/
/app/ios/Flutter/flutter_export_environment.sh
/app/android/local.properties
*.tfvars
